<form
#loginForm= "ngForm">

<div *ngIf="email.invalid && email.touched"  class="alert alert-danger">
    Votre email est incorrecte veuillez saisir un email valide
</div>
<input
type="text"
name ="email"
ngModel
required
class ="form-control"
#email="ngModel"
>

<div *ngIf="password.invalid && password.touched"   class="alert alert-danger">
    Votre password est incorrecte veuillez saisir au moins 6 caractères
</div>
<input
type="password"
name ="password"
ngModel
required
minlength="6"
class="form-control"
#password="ngModel">


<button
[disabled]="loginForm.invalid"
(click)= "login(loginForm)"
class="btn btn-primary">
login
</button>

</form>



