<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand"
    [routerLink]="['comp1']">
    Composant1</a>
    <button class="navbar-toggler"
    type="button"
     data-toggle="collapse"
     data-target="#navbarNav"
     aria-controls="navbarNav"
      aria-expanded="false"
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link "
          [routerLink]="['comp2']"
          routerLinkActive="active">
          Composant2
        </a>
     
  
      </ul>
    </nav>
  